<!-- home page bootstrap jumbotron, -->
<div class="container mt-5" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Alpha Blog</h1>
    <p class="lead">Start sharing your journey of learning to code.</p>
    <p>Join to tell us your coding progress, read other blog articles from other people and interact with your friends from the Alpha Blog community.</p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-danger btn-lg" %>
  </div>
</div> 