
@import 'bootstrap/dist/css/bootstrap';
//**************** BODY *****************
html,
body {
  height: 100%;
}

// embedding yield from _navigation to _footer
#page-content {
  flex: 1 0 auto;
  background-color: #eaeaea;
}

//**************** NAVBAR *****************
.navbar {
  background-color: #252a34 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: #fff;
  font-size: 1.5rem;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

//******************* HOMEPAGE ******************
.jumbotron {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url("home_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 425px;
}

.jumbotron h1 {
  margin-bottom: 2rem;
}

.jumbotron p {
  padding:0.5rem 7%;
}

.jumbotron a {
  margin-top: 1rem;
}

// **** ARTICLES **** 
//Card
#article-list-title {
  color: #8bbabb !important;
}

// ********** FORM ***************
#form {
  background-color: #8bbabb !important;
}

.profile-img {
  border-radius: 100% !important;
}

// **** FOOTER ****
#sticky-footer {
  flex-shrink: none;
}

// ******* PAGINATION Flickr.com ***********
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px; 
  }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    border: 1px solid #252a34;
    font-style: normal;
    font-weight: bold;
    color: #DC3545; }
  .flickr_pagination a {
    border: 1px solid #252a34;
    color: #252a34;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-radius: 5px;
      border-color: #DC3545;
      background: #DC3545;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 1px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }