<h1 class="text-center mt-4">Listing all categories</h1>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title">Category</h4>
            <hr>
            <%= link_to category.name, category_path(category), class: "btn btn-lg btn-outline-dark" %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(category.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>